body,
body * {
    vertical-align: baseline;
    border: 0 none;
    outline: 0;
    padding: 0;
    margin: 0;
    font-family: ;
    font-size: 9pt;
    cursor: pointer;
    font-family: "Swis721 Th BT", Arial, sans-serif;
    font-size: inherit;
    letter-spacing: normal;
}

@font-face {
    font-family: 'HellixBold';
    src: url('fonts/Hellix-Bold.eot');
    src: url('fonts/Hellix-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Hellix-Bold.woff2') format('woff2'),
        url('fonts/Hellix-Bold.woff') format('woff'),
        url('fonts/Hellix-Bold.ttf') format('truetype'),
        url('fonts/Hellix-Bold.svg#Hellix-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}


#guide {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0; left: 0;
/*    background: url(img/guide_970x250.png);*/
    background-size: cover;
    opacity: .5;
    z-index: 5;
    display: none;
}

.absolute_100 {
    position: absolute;
    height: 100%;
    width: 100%;
}

#background_color_container {
    background: #ffffff;
}
.absolute_100 {
    position: absolute;
    height: 100%;
    width: 100%;
}
#main-container {
    position: absolute;
    width: 970px;
    height: 250px;

    border: 1px solid black;
    box-sizing: border-box;

    background: black;
    opacity: 0;
    overflow: hidden;
    left: 0;
}

#room_selector_btn {
    position: absolute;
    height: 70px;
    width: 243px;
    bottom: 0;
    right: 0;
}
#bg_black {
        position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    background: black;
    opacity: .5;
}
#copy_1 {
    position: absolute;
    height: 15px;
    width: 100%;
    background: url(img/copy_1.png) no-repeat center center;
    background-size: 135px;
    bottom: 49px; 
    left: 2px;
}

.room_icons {
    height: 45px;
    width: 50px;
    overflow: hidden;
    background-image: url(img/room_icons.png);
    background-repeat: no-repeat;
    background-size: 50px;
/*    border: 1px solid green;*/
    position: relative;
    float: left;
    left: 12px;
    top: 23px;
}

#room_1 {
/*
    position: absolute;
    top: 31px;
    left: 20px;
*/
/*    background-color: green;*/
    background-image: url(img/icons_01.png);

    background-repeat: no-repeat;
    background-position: center center;
     margin-right: 5px;
}

#room_3 {
/*
    position: absolute;
    bottom: 10px;
    left: 20px;
*/
    background-image: url(img/icons_03.png);
    background-repeat: no-repeat;
    background-position: center center;
    margin-right: 5px;
}

#room_2 {
/*
    position: absolute;
    top: 31px;
    right: 19px;
*/
/*    background-color: green;*/
    background-image: url(img/icons_02.png);
    background-repeat: no-repeat;
    background-position: center center;
}


#room_4 {
/*
    position: absolute;
    bottom: 10px;
    right: 19px;
*/
    background-image: url(img/icons_04.png);
    background-repeat: no-repeat;
    background-position: center center;
}

.direction_btn {
    height: 90px;
    width: 78px;
    overflow: hidden;
    background-image: url(img/btn_left_right.png);
    background-repeat: no-repeat;
/*    background-color: green;*/
/*    border: 1px solid red;*/
}

#btn_left {
    position: absolute;
    background-position: -3px 19px;
    top: 80px;  
    left: 294px
}
#btn_right {
    position: absolute;
    background-position: -88px 19px;
    top: 80px;  
    right: 0px;
}
#cta_holder {
    position: absolute;
    height: 40px;
    width: 181px;
    background: url(img/cta.png) no-repeat top center / contain; 
    bottom: 33px;
    left: 46px;
    /* right: 0; */
    /* margin: auto; */
    z-index: 2;
    /*    background: #e75834;*/
    /* border-radius: 5px; */
    display: block;
    opacity: 1;
    z-index: 10;
}

#tipi_logo {
    position: absolute;
    height: 250px;
    width: 970px;
    background: url(img/tipilogo.png) no-repeat;
    background-size: cover;
/*    z-index: 10;*/
    top: 0;
}
#cta_text {
position: absolute;
    font-size: 13px;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
    display: block;
    width: 144px;
    height: auto;
    text-align: center;
    vertical-align: middle;
    line-height: 38px;
    font-family: Hellix;
    left: 0;
    right: 0;
    margin: auto;
}


#background_exit {
    position: absolute;
    height: 100%;
    width: 100%;
    background: green;
    opacity: 0;
    z-index: 2;
}


/*PANORAMA*/

#panoramaHolder {
    width: 1342px;
    height: 671px;
    background-color: white;
    position: absolute;
    top: 0;
    left: -430px;
    overflow: hidden;
/*
  margin: 10px auto;
  padding: 0px;
  border: 1px solid red;
*/
}
#loading_screen {
    position: absolute;
    top: 0; left: 0;
    display: none;
    z-index: 2;
}
#loading_gif {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(img/loading.gif) no-repeat center center / 50px;
    background-color: black;
    opacity: .4;
}
#img1 {
  position: absolute;
  user-select: none;
/*    border: 5px solid red;*/
}

#img2 {
  position: absolute;
  user-select: none;
/*     border: 5px solid green;*/
}

#imgloader1, #imgloader2, #imgloader3, #imgloader4 {
    position: absolute;
    left: 999px;
    top: 999px;
    display: none;
}
/*PANORAMA TESTING*/
#input_panorama {
    position: absolute;
    height: 200px;
    width: 300px;
    background: grey;
    left: 300px;
    display: none;
}

#submit_position {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100px;
    background: green;
    z-index: 10;
}